body{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
 
}
h1{
    font-size:60px;
}
.coloringone{
    color:#EE5A24;
}
/* Header text part styled   */
.part-one{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left:2%;
    
}
/* Image styling   */
.part-one img{
    width: 100%; 
}
.header-area{
    /* border: 1px solid red;
    background-color: #EE5A24; */
    background-image: url("../image/top-banner.png");
    background-repeat: no-repeat;
    
}
section{
    height: 1000px;
}
.hireme_button{
    text-decoration: none;
    background-color: rgb(237, 182, 79);
    padding: 10px 20px;
    border-radius: 10px;
    color:black; 
    font-weight:500;
    background-image: linear-gradient(white,rgb(251, 165, 5),tomato);
}
.dream-project-area {
    background-image: url("../image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right top; 
}
.mahee-experience{
    box-shadow: 10px  10px 40px grey;

}
.experience-area{
    background-image: url("../image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left ; 
    
}
#fullstack{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
    
}
#htmlcssdeisgner{
    border-left: 7px solid;
    border-image: linear-gradient(orange,red);
    border-image-slice: 1;

}
footer{
    text-align: center;
}